{% extends "base.html" %}
{% block content %}
    </head>
    <body>

    <div class="container">

        <div class="row">
            <header class="mb-5">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Sports Car Sweepstakes</a>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/page2">Page 2</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="row"


            <div class="row">
                <h1><span class="diffont">H</span>EROKU PAGE</h1>
            </div>

            <div class="col-6">

                <p>
                    Whats is Heroku and what to expect from it?
                </p>
                    If you are looking for a great and reliable cloud based PaaS - Heroku is the answer!
                </p>
                    Its super easy to navigate around its GUI and the best part its FREE
                <p>
                    Its perfect for managing and deploying modern apps today
                </p>
                <p>
                    You do not need to manage infrastructure of the entire website, Heroku doe it for you
                </p>
                <p>
                    Today, Heroku operating with over than 60 billion requests and counting
                </p>
                <p>
                    Heroku interestingly enough is a business unit of Salesforce
                </p>
                <p>
                    Currently Heroku has over 13 millions applications deployed around the World!
                </p>

            </div>
            <div class="col">
                <p>
                    Heroku was found back in 2007 by Kames Lindenbaum, Adam Wiggins and Orion Henry
                </p>
                    By October 2009 Heroku already had 35,000+ applications on its platform
                </p>
                    In December 2010 is when Salesforce purchased Heroku
                <p>
                    Great news for Heroku, Node.js was incorporated into Heroku by June 2011
                </p>
                <p>
                    In September 2012 is when a dashboard was introduced into Heroku.
                </p>
                <p>
                    By May 2015 Heroku become friendly with Docker
                </p>
                <p>
                    Another great feature was introduced into Heroku,Heroku Shield,which supports high compliance apps
                </p>
                <p>
                    Source: https://www.heroku.com/about
                </p>

            </div>
        </div>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
    </html>
{% endblock %}