{% extends "base.html" %}
{% block content %}
    </head>
    <body>

    <div class="container">

        <div class="row">
            <header class="mb-5">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">AAA in a nutshell</a>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/page2">Page 2</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="row"


            <div class="row">
                <h1><span class="diffont">A</span>AA Testing</h1>
            </div>

            <div class="row">


                    <p>
                        Thank you for continuing reading with me today. If you mention someone AAA today, he/she might
                        think of the AAA towing service haha but its totally not it. When it comes to object-oriented
                        language,
                        the AAA testing avoids the spaghetti code situation and keeps your test code more concised,
                        organised and
                        manageable.
                    </p>


                </div>
                <div class="row">
                        <div class="col-6 boarder">



                            <img src="{{ url_for('static', filename='images/aaatest.png') }}" class="img-fluid mt-5"
                                 alt="staticmethod" width="600px" height="500px" style="float:left">


                        </div>
                        <div class="col boarder">

                        <h2><u>But what does AAA really stand for?</u></h2>
                            Triple AAA testing stands for Arrange-arrange your data, Act-
                            form an action and Assert-asserts that the expectation of the action is correct! With the
                            arrange you
                            will set up the conditions for the test action. Act is when the action will take place on
                            the classtest
                            you are looking to test and arrange for. And last and not least, is assert. You would want
                            to start your
                            act section with the "result=". Assert is what performs the assertion on the actual state
                            of the test
                            you have set up where in our example it will be the calculator class asserting for the
                            addition,
                            subtraction etc.

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 boarder">
                        <h2><u>Why AAA testing is so important today?</u></h2>
                            AAA testing is very important in the automated testing world today. With AAA you can have a
                            dry run on
                            smaller/separate pieces of your code and see if it runs as intended before it goes into
                            production mode.
                            If we take the arrange, act and assert components of the calculator test, with arrange we
                            are preparing
                            the actual input for the calculator test, when using act we generate a code to test it and
                            assert component
                            verifies that the expected results with the final output that we actually get. Overall, the
                            AAA test definitely
                            saves us time, where we do not need to think of structural options for a test structure and
                            everyone on
                            in a project speaking "same language".



                        </div>
                        <div class="col boarder">

                            <img src="{{ url_for('static', filename='images/aaa222.png') }}" class="img-fluid mt-5"
                                 alt="staticmethod" width="600px" height="500px" style="float:right">
                            <img src="{{ url_for('static', filename='images/aaa333.png') }}" class="img-fluid mt-5"
                                 alt="staticmethod" width="600px" height="500px" style="float:right">
                        </div>
                    </div>

                <p>
                    <h2><u>Sources:</u></h2>
                </p>
                <p>
                    https://jamescooke.info/arrange-act-assert-pattern-for-python-developers.html
                    https://jaguhiremath62.medium.com/arrange-act-and-assert-aaa-pattern-in-unit-testing-b2d261aaef6a
                    https://methodpoet.com/aaa-in-unit-testing/
                </p>









            </div>
        </div>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
    </html>
{% endblock %}