{% extends "base.html" %}
{% block content %}
    </head>
    <body>

    <div class="container">

        <div class="row">
            <header class="mb-5">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Sports Car Sweepstakes</a>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/page3">Page 3</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <div class="row"


            <div class="row">
                <h1><span class="diffont">P</span>yCHARM PAGE</h1>
            </div>

            <div class="col-4">

                <p>
                    PyCharm is an amazing IDE which provides essentials tools to any pycharm user
                </p>
                    There are three editions available today: Community, Edu and Professional
                </p>
                    Pycharm fully support HTML Javascript and even CSS
                <p>
                    There are some system requirements: 4GB of RAM, any modern GPU and about 3.5GB of disk space
                </p>
                <p>
                    Opening a project in Pycharm is very easy, just go to the project section and choose from Open/VCS
                </p>
                <p>
                    Pycharm also has Services and Terminal incorporated into it
                </p>
                <p>
                    The Search Everywhere feature is a great tool to search for a code if you need to adjust it
                </p>
                <p>
                    The right-click feature has anything from running to debugging your code
                </p>

            </div>
            <div class="col">
                <p>
                    With PyCharm Professional, you can now easily visualize your statical data and see bigger picture
                </p>
                    PyCharm also has an R plugin which allows you to use R language to compute your data
                </p>
                    PyCharm also allows you to tailor your own environment by changing appearance, editor features etc.
                <p>
                    All actions within Pycharm are mapped around keyboard shortcuts, so you can be more productive
                <p>
                    Pycharm supports most of major testing frameworks like Doctest, pytest and more
                </p>
                <p>
                    IDE supports the debugger on all well known platforms out there
                </p>
                <p>
                    You can easily navgate into history of changes by tapping Back/Forward navigation
                </p>
                <p>
                    Source: https://www.jetbrains.com/help/pycharm/quick-start-guide.html
                </p>

            </div>
        </div>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
    </html>
{% endblock %}